{{template "header" }}
<style>
    .sumNum{
        margin: 10px 0;
        font-size: 24px;
        font-weight: bold;
    }
</style>
<div id="app" style="width:100%">
    <template>
        <div v-loading.fullscreen.lock="fullscreenLoading">

                <div class="mainMain settingMain settingDashbord">
                    <h2 class="textDark">数据总览</h2>
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <el-card class="box-card settingMetricCard">
                                <div slot="header" class="clearfix">
                                    <span>今日访客数</span>
                                </div>
                                <div class="text item">
                                    <p class="sumNum"><{statistics.toady_visitors || 0}></p>
                                </div>
                                <div class="text item">
                                    <p class="metricMeta">总访客数：<{statistics.visitors || 0}></p>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="8">
                            <el-card class="box-card settingMetricCard metricGreen">
                                <div slot="header" class="clearfix">
                                    <span>今日消息数</span>
                                </div>
                                <div class="text item">
                                    <p class="sumNum"><{statistics.today_messages || 0}></p>
                                </div>
                                <div class="text item">
                                    <p class="metricMeta">总消息数：<{statistics.message || 0}></p>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="8">
                            <el-card class="box-card settingMetricCard metricPurple">
                                <div slot="header" class="clearfix">
                                    <span>当前访客在线数量</span>
                                </div>
                                <div class="text item">
                                    <p class="sumNum"><{statistics.visitor_session || 0}></p>
                                </div>
                                <div class="text item">
                                    <p class="metricMeta">当前客服会话：<{statistics.kefu_session || 0}></p>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                    <el-card class="settingChartCard">
                        <div slot="header" class="clearfix">
                            <span>访客趋势</span>
                        </div>
                        <div id="main" class="settingChart"></div>
                    </el-card>
            </div>
        </div>
    </template>
</div>
</body>
<script src="/static/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/js/echarts.min.js?v=1.0.0"></script>
{{template "setting_bottom" .}}
